.cuadro {
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: small;
  font-weight: 500;
  padding-top: 3%;
  padding-bottom: 3%;
}
#planta {
  background-color: #32b448;
}
#veneno {
  background-color: rgb(188, 130, 243);
}
#fuego {
  background-color: rgb(245, 154, 49);
}
#agua {
  background-color: rgb(62, 193, 245);
}
#volador {
  background-color: rgb(167, 167, 167);
}
#psiquico {
  background-color: rgb(243, 148, 204);
}
=======
.planta{
    background-color: #32b448;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
}

.veneno{
    background-color: rgb(188, 130, 243);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
}

.fuego{
    background-color: rgb(245, 154, 49);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
}

.agua{
    background-color: rgb(62, 193, 245);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
}

.volador{
    background-color: rgb(167, 167, 167);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
}

.bicho{
    background-color: #32b448;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
}
