.planta{
    background-color: rgb(110, 250, 110);
    color: white;
    border-radius: 1px;
    text-align: center;
}

.veneno{
    background-color: rgb(188, 130, 243);
    color: white;
    border-radius: 1px;
    text-align: center;
}

.fuego{
    background-color: rgb(245, 154, 49);
    color: white;
    border-radius: 1px;
    text-align: center;
}

.agua{
    background-color: rgb(62, 193, 245);
    color: white;
    border-radius: 1px;
    text-align: center;
}

.veneno{
    background-color: rgb(167, 167, 167);
    color: white;
    border-radius: 1px;
    text-align: center;
}